#!/bin/bash

## Install php
cp -frp /usr/lib64/libldap* /usr/lib

wget http://cn2.php.net/get/php-5.6.30.tar.gz/from/this/mirror -O /data/shell/php-5.6.30.tar.gz
tar zxvf /data/shell/php-5.6.30.tar.gz -C /data/shell/

PHP_INSTALL_PATH=/usr/local/php
MYSQL_INSTALL_PATH=/usr

echo '/usr/local/lib64
/usr/local/lib
/usr/lib
/usr/lib64'>>/etc/ld.so.conf && ldconfig -v

cd /data/shell/php-5.6.30/

./configure --prefix=${PHP_INSTALL_PATH} --with-config-file-path=${PHP_INSTALL_PATH}/etc --with-mysql --with-pdo-mysql=${MYSQL_INSTALL_PATH}/bin/mysql_config  --with-mysqli=${MYSQL_INSTALL_PATH}/bin/mysql_config --with-iconv-dir=/usr/local --with-freetype-dir --with-jpeg-dir --with-png-dir --with-zlib --with-libxml-dir=/usr/lib64 --enable-xml --disable-rpath --enable-bcmath --enable-shmop --enable-sysvsem --enable-inline-optimization --with-curl --with-curlwrappers --enable-mbregex --enable-fpm --enable-mbstring --with-mcrypt --with-gd --enable-gd-native-ttf --with-openssl --with-mhash --enable-pcntl --enable-sockets --with-ldap --with-ldap-sasl --with-xmlrpc --enable-zip --enable-soap --enable-pdo --with-pdo-mysql --without-pear --enable-opcache=no
make && make install

## 配置php.ini
cp ./php.ini-development /etc/php.ini

## start always_populate_raw_post_data
sed -i 's/; always_populate_raw_post_data = -1/always_populate_raw_post_data = -1/g' /etc/php.ini

## 设置root 环境变量
echo "alias php='/usr/local/php/bin/php'" >> /root/.bashrc
source /root/.bashrc

## 创建连接，防止composer 找不到php
ln -s /usr/local/php/bin/php /usr/local/bin/php

## 配置php-fpm, centos 不要通过yum 安装，因为安装出来的版本可能不一致，会导致浏览器访问到的版本和实际linux下面的版本是不一致的。
cp /usr/local/php/etc/php-fpm.conf.default /usr/local/php/etc/php-fpm.conf
cp /usr/local/php/etc/php-fpm.d/www.conf.default /usr/local/php/etc/php-fpm.d/www.conf

## 启动php-fpm
/usr/local/php/sbin/php-fpm