---
# Variables here are applicable to all host groups

install_dir: /data/shell
path_for_php: /usr/local/php/bin/php
laravel_angular_admin_repository: https://github.com/hbcrhythm/laravel-angular-admin.git
laravel_angular_admin_dir: /data/shell/laravel1

asch_repository: https://github.com/sqfasd/asch.git
asch_dir: /data/shell/asch

proxychains_repository: https://github.com/rofl0r/proxychains-ng.git
proxychains_dir: /data/shell/proxychains

shadowsocks_ip: 192.168.0.104
shadowsocks_port: 1080

ansible_repository: https://github.com/ansible/ansible.git --recursive
ansible_dir: /data/shell/ansible

shadowsocks_server_ip: 127.0.0.1
shadowsocks_server_port: 885
shadowsocks_client_proxy_port: 1080
shadowsocks_password: password
shadowsocks_encryption_atandard: aes-256-cfb